# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store
Thumbs.db

# Configurações locais
.env

# PyCharm / IDE
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp

# Jupyter (caso use depois)
.ipynb_checkpoints/

# Streamlit config local (opcional)
.streamlit/secrets.tomlgit status